<p>Passw&ouml;rter m&uuml;ssen Mindestanforderungen gen&uuml;gen. Andere Passw&ouml;rter
werden vom System abgewiesen.</p>
<ul>
	<li>Mindestens 8 Zeichen lang</li>
	<li>Mindestens ein Gro&szlig;buchstabe</li>
	<li>Mindestens ein Kleinbuchstabe</li>
	<li>Mindestens eine Ziffer</li>
</ul>
