<%= render :partial => 'shared/usermenue',
		:locals => { :active => 'Nutzer' } -%>
<%= error_messages_for :user %>	
			
<h2>Passwort vergessen?</h2>

<% form_for(:user, :url => {:action=>'recover_password'}, :html => { :method => :post } ) do |f| %>
  <p>
    <b>Username</b><br />
    <%= text_field_tag :user_name %>
  </p>
  <p>
    <%= f.submit "Ab dafür!" %>
  </p>
<% end %>

<% content_for :infobox do %>
<% end %>
