<p>
  <b>Test Dropdown</b>
	<%=  select(:netmask, 'huhu', [	['Class X - 255.255.255.255', '255.255.255.255'],
								['Class Y - 255.255.255.0', '255.255.255.0'],
								['Class Z - 255.255.0.0', '255.255.0.0'] ], {}
	)%>
</p>


  	<%=  f.select(:netmask,  [	['Class X - 255.255.255.255', '255.255.255.255'],
								['Class Y - 255.255.255.0', '255.255.255.0'],
								['Class Z - 255.255.0.0', '255.255.0.0'] ]
	)%>
